<%- model_class = ApplicationGroup -%>
<div class="page-header">
 <%= render 'shared/breadcrumb', crumbs: [
      link_to('Application Group', application_group_path),
      link_to(@application_group.id, application_group_path(@application_group)),
      'Edit'
    ]
  %>
</div>

<%= form_for @application_group, url: compare_application_group_path(@application_group), layout: :horizontal do |f| %>

  <%= render 'form', f: f %>

  <div class="well well-sm well-default">
    <%= submit_tag "Save Changes", class: "btn btn-primary" %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), person_path(@person), class: "btn btn-primary" %>
  </div>

<% end %>
